body{
    background-color: #0088cc;
}

/* Color */
body, .pure-menu-link{
    color: #FFF;
}

.pure-menu-link:hover{
    background-color: inherit;
    color: #ccc;
}

.pure-menu-heading{
    font-weight: 600;
}

/* Font */
body, .pure-g [class*=pure-u]{
    font-family: 'Open Sans', sans-serif;
}

.pure-button.with-image{
    position: relative;
    padding-left: 2.5em;
    font-size: 200%;
}

.pure-button-image{
    position: absolute;
    left: 1em;
    width: 40px;
}

.screenshot{
    width: 100%;
    max-width: 554px;
}

/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
    max-width: 400px;
    padding-left: 14%;
}

@media screen and (min-width: 48em){
    .l-box {
        padding-top: 20%;
        padding-left: 0em;
    }
}

/* Display helpers */
.show-only-when-desktop{
    display: none;
}
@media screen and (min-width: 48em){
    .show-only-when-desktop {
        display: block;
    }
    .show-only-when-mobile {
        display: none;
    }
}

/* helpers */
.centered{
    text-align: center;
}

a{
    color: #FFFFFF;
}

a.pure-button:hover{
    color: #000;
}

a:hover{
    color: #ccc;
}

.text-box{
    margin: 0px 30px;
}
